.form {
    margin-top: 12vh;
}

.logo-back {
    position: fixed;
    left: 50%;
    top: 13%;
    transform: translate(-50%);
    opacity: 0.2;
    width: 500px;
    z-index: -1;
}

.contact-us-form {
    display: flex;
    padding: 50px 0 50px 0;
    justify-content: center;
}

.container {
    width: 70%;
    padding: 20px;
}

.contact-us {
    width: 100%;
    color: red;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: red;
}

.container .row100 .inputBox .input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
}

.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .inputBox input:focus + .text{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}


.container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: red;
    transition: 0.5s;
    border-radius: 10px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line {
    height: 100%;
}

.container .row100 .inputBox input:valid ~ .line{
    height: 100%;
}

.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea{
    height: 100%;
    resize: none;
}

.container .row100 .inputBox textarea:focus + .text {
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox textarea:valid+ .text {
    top: -35px;
    left: -10px;
} 

.container .row100 .inputBox textarea:focus ~ .line {
    height: 100%;
}

.container .row100 .inputBox textarea:valid ~ .line {
    height: 100%;
}

.btn{
    border: 3px solid #fff;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s;
}

.submit-btn {
    margin: 0 auto;
    width: 130px;
    padding-top: 50px;
}

.btn:hover {
    transform: scale(0.95);
    border: 3px solid red;
    border-radius: 10px;
    color: red;
    background-color: #fff;
    box-shadow: 0 0 5px red;
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .line {
        width: 90%;
    }

    .logo-back {
        top: 30%;
        width: 300px;
    }
}
